<h2>And the signers are:</h2>
    <ul class="signers-list">
        {{#signerslist}}
        <li class="signers-list-item">
            <a href="{{url}}">{{first}} {{last}}</a>, {{#if age}} {{age}},{{/if}} {{#if city}}from <a href="/signers/cities/{{city}}">{{city}}</a>{{/if}} {{#if obscene}}said: "{{obscene}}"{{/if}}
        </li>
        {{/signerslist}}
    </ul>
    <a class="logout-link" href="/unsign">Log out</a>
