<h2>And the signers are:</h2>
    <ul class="signers-list">
        {{#signerslist}}
        <li class="signers-list-item">
            <a href="{{url}}">{{first}} {{last}}</a>, {{age}}, from <a href="/signers/cities/{{city}}">{{city}}</a> said: "{{obscene}}"
        </li>
        {{/signerslist}}
    </ul>
